<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
  <div class="navbar-header">
    <!-- 横幅が狭い時に出るハンバーガーボタン -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>

    <!-- ホームへ戻るリンク。ブランドロゴなどを置く。 -->
    <a class="navbar-brand" href="/">TASK LIST</a>
  </div>

  <!-- メニュー項目設定 -->
	<div class="collapse navbar-collapse" id="navbarEexample1">
		<ul class="nav navbar-nav navbar-right">
      <li><%= link_to  '新規タスクの投稿', new_task_path %></li>
		</ul>
	</div>

  </div><!-- /.container-fluid -->
</nav>